## **Standardization of the data Format**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = {
    'date' : ['20-12-01' , '01-12-2022'],
    'country' : ['USA' , 'U.S.A'] , 
    'name' : [ 'John Doe' , 'Jane Doe'] , 
    'sales_2020' : [100 , 200] ,
    'sales_2021' : [None , 150 ]
}

df = pd.DataFrame(data)

In [4]:
df

         date country      name  sales_2020  sales_2021
0    20-12-01     USA  John Doe         100         NaN
1  01-12-2022   U.S.A  Jane Doe         200       150.0

In [6]:
df['date'] = pd.to_datetime(df['date'] , errors= 'coerce')

C:\Users\u4usm\AppData\Local\Temp\ipykernel_21480\2253925901.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'] , errors= 'coerce')

In [7]:
df.head()

        date country      name  sales_2020  sales_2021
0 2001-12-20     USA  John Doe         100         NaN
1 2022-01-12   U.S.A  Jane Doe         200       150.0

## The date column has successfully been standardized.

---

YOu can also provide the specific format for the date

---

In [8]:
df['date'] = df['date'].dt.strftime('%d-%m-%Y')

## **Now the date has been converted into the specific given format.**

In [9]:
df

         date country      name  sales_2020  sales_2021
0  20-12-2001     USA  John Doe         100         NaN
1  12-01-2022   U.S.A  Jane Doe         200       150.0