# **Max Absolute Scaling**

In [1]:
import pandas as pd
import numpy as np

## **Import the Max Absolute Scaler**

In [2]:
from sklearn.preprocessing import MaxAbsScaler

In [3]:
data = {
    "age" : [25 , 30 , 35 , 40 , 45] ,
    "height" : [165 , 170 , 175 , 180 , 185] , 
    "weight" : [55 , 60 , 65 , 70 , 75]
}

df = pd.DataFrame(data)
df

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

In [5]:
scaler = MaxAbsScaler() # MAke a reference object of the scaler

scaled_df = scaler.fit_transform(df)


scaled_df

array([[0.55555556, 0.89189189, 0.73333333],
       [0.66666667, 0.91891892, 0.8       ],
       [0.77777778, 0.94594595, 0.86666667],
       [0.88888889, 0.97297297, 0.93333333],
       [1.        , 1.        , 1.        ]])

## **Convert the scaled data into a data Frame**

In [6]:
scaled_df = pd.DataFrame(scaled_df , columns= df.columns)

In [7]:
df

   age  height  weight
0   25     165      55
1   30     170      60
2   35     175      65
3   40     180      70
4   45     185      75

## **Data has successfully been scaled according to the Min Max scaler.**