In [3]:
import pandas as pd
import seaborn as sns
import numpy as np

In [27]:
data = {
    'age' : [ 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27, 28 , 29 , 60] 
}
df = pd.DataFrame(data)
df

    age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   60

In [28]:
mean = np.mean(df[ 'age'])
std = np.std(df[ 'age'] )

In [29]:
df['Z_score'] = (df['age'] - mean) / std

In [32]:
print('-------------------------------------')
print("Data with outliers : \n" , df )

-------------------------------------
Data with outliers :
     age   Z_score
0    20 -0.731293
1    21 -0.636655
2    22 -0.542017
3    23 -0.447379
4    24 -0.352741
5    25 -0.258103
6    26 -0.163465
7    27 -0.068828
8    28  0.025810
9    29  0.120448
10   60  3.054223

## **Print the outliers**

In [36]:
print(f"The data with outliers is : \n {df[df['Z_score'] > 3]}")

The data with outliers is :
     age   Z_score
10   60  3.054223

In [38]:
df = df[df['Z_score'] <= 3]
df

   age   Z_score
0   20 -0.731293
1   21 -0.636655
2   22 -0.542017
3   23 -0.447379
4   24 -0.352741
5   25 -0.258103
6   26 -0.163465
7   27 -0.068828
8   28  0.025810
9   29  0.120448

In [39]:
print(f"The data without outliers is \n : {df} ")

The data without outliers is
 :    age   Z_score
0   20 -0.731293
1   21 -0.636655
2   22 -0.542017
3   23 -0.447379
4   24 -0.352741
5   25 -0.258103
6   26 -0.163465
7   27 -0.068828
8   28  0.025810
9   29  0.120448

## **Outlier successfully removed.**